__pycache__/
*.egg-info/
*.py[cod]
.pytest_cache/
.venv/
venv/
.vscode/
!vscode-extension/.vscode/
vscode-extension/.vscode/*
!vscode-extension/.vscode/launch.json
state.json
tests/fixtures/state/state-*.json
